/* CSS DETAILS STYLE SHEET:
-------------------------------------- 

COLOUR PALETTE:
Brown - #8B3E46;
Dark brown - #532227;
Light brown - #FF9B6E;
Light grey - #E9E9E9;
Grey - #6A6A6A;

--------------------------------------*/

/* Container */
.details-product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    margin: 4em;
}

/* Image */
.details-img{
    max-width: 100%;
    margin: 2em;
    justify-self: center;
}


/* Information about the product */
.product-info{
    padding: 2em;
}

/* Title */
.product-info h2{
    font-size: 35px;
    margin-bottom: 15px;
}

/* Price */
.product-info h3{
    font-size: 20px;
    color: #8B3E46;
    margin-bottom: 50px;
}




/* Dop down menu */
.dropdown{
 
  font-family: 'Montserrat', sans-serif;
  margin: 15px 0px;
}

.dropdown-select{
  width: 100px;
  padding: 5px;
  font-size: 16px;
  margin-left: 5px;
  background-color: #FFF;
  border-color: #8B3E46;
}

.dropdown select option:hover{
    background: #8B3E46;
    color: #FFF;
}





/* Description */
.product-description h4{
    font-size: 20x;
    margin-bottom: 10px;
    margin-top: 50px;
}

.product-description p{
    font-size: 16px;
    max-width: 500px;
}
/* End of Description */




/* BUTTON */
.btn{
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background: #8B3E46;
  color: #FFF;
  border: 1px solid #8B3E46;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover{
    background-color: transparent;
    color:  #8B3E46;
}




/* End of Button */