/* CSS GLOBAL STYLE SHEET:
-------------------------------------- 

COLOUR PALETTE:
Brown (main) -    #8B3E46;
Dark brown   -    #532227;
Light brown  -    #FF9B6E;
Light grey   -    #E9E9E9;
Grey         -    #6A6A6A;


TYPOGRAPHY:
Headline
font-family: 'Raleway', sans-serif;

Sub-headline
font-family: 'Montserrat', sans-serif;

Body 
font-family: 'Montserrat', sans-serif;

--------------------------------------*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

.bold{
    font-weight: bold;
}

.bolder{
    font-weight: bolder;
}

