/* CSS GLOBAL STYLE SHEET:
-------------------------------------- 

COLOUR PALETTE:
Brown - #8B3E46;
Dark brown - #532227;
Light brown - #FF9B6E;
Light grey - #E9E9E9;
Grey - #6A6A6A;

--------------------------------------

TYPOGRAPHY:
Headline
font-family: 'Raleway', sans-serif;

Sub-headline
font-family: 'Montserrat', sans-serif;

Body 
font-family: 'Montserrat', sans-serif;

--------------------------------------*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}


.bgimage img{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.btn{
    color: #fff;
}
