/* CSS MASTER STYLE SHEET:
-------------------------------------- 

COLOUR PALETTE:
Brown - #8B3E46;
Dark brown - #532227;
Light brown - #FF9B6E;
Light grey - #E9E9E9;
Grey - #6A6A6A;

--------------------------------------

TYPOGRAPHY:
Headline
font-family: 'Raleway', sans-serif;

Sub-headline
font-family: 'Montserrat', sans-serif;

Body 
font-family: 'Montserrat', sans-serif;

--------------------------------------*/
/* Fonts: */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:500&display=swap');

/* CSS */
@import url('nav.css');
@import url('footer.css');
@import url('global.css');
@import url('home.css');
@import url('shoes.css');
@import url('details.css');


:root {
  --primaryColor: #8B3E46;
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainGrey: #E9E9E9;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
