/* CSS NAVIGATION STYLE SHEET:
-------------------------------------- 

COLOUR PALETTE:
Brown - #8B3E46;
Dark brown - #532227;
Light brown - #FF9B6E;
Light grey - #E9E9E9;
Grey - #6A6A6A;

--------------------------------------*/
.top-nav{
  background-color: #8B3E46;
  box-shadow: 0px 0px 30px #6A6A6A;
  
}

.navigation{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  text-align: center;
}

.menu{
  display: inline-block;
}

.menu a{
  
  text-decoration: none;
  color: #FFFFFF;
}

#active{
  border-bottom: 1px #FFF solid;
}

.menu a:hover{
  border-bottom: 1px #FFF solid;
  transition: .2s;
}

.menu a:active{
  border-bottom: 1px #FFF solid;
  transition: .1s;
}

#logo img{
  float: left;
    display: block;
}

label{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 60px;
  display: none;
  width: 26px;
  float: right;
  color: #FFFFFF;
}

#nav-toggle{
  display: none;
}

.menu a img{
    height: 30px;
    display: inline-block;
}

/* MOBILE/TABLET
------------------------------------------------------
@media only screen and (max-width: 908px){
  label{
    display: block;
    cursor: pointer;
    font-size: 30px;
  }

  .menu{
    text-align: center;
    width: 100%;
    display: none;
  }

  #logo img{
    height: 40px;
   
  }

  .menu a{
    display: block;
    background: #8B3E46;
    border-top: 1px solid #8B3E46;
    margin: 0;
    padding: 0;
  }

  #nav-toggle:checked + .menu{
    display: block;
    overflow: hidden;
    position: relative;
  }
}

/* TABLET - HORIZONTAL
------------------------------------------------------
@media only screen and (min-width: 909px) and (max-width: 1025px){
  .menu a{
    font-size: 18px;
    line-height: 70px;
  }

  .navigation{
    height: 70px;
    line-height: 70px;
  }

  #logo img{
    height: 45px;

  }
}

/* LAPTOP/DESKTOP
------------------------------------------------------ */
@media only screen and (min-width: 1026px){
  .menu a{
    font-size: 20px;
    margin: 30px 20px;
    padding: 0px 2px 2px 2px;
  }

  


  #logo img{
    height: 55px;
    margin: 12.5px 0px;
  }
}